body {
    font-family: sans-serif;
    background-color: rgb(223, 223, 223);
}
.banner{
    font-family: sans-serif;
    color:rgb(49, 108, 135);
}
.inputEvent{
    border: 3px solid rgb(0, 41, 128);
    background-color: rgb(231, 231, 231);
    color: rgb(49, 108, 135);
    width:96vw;
}
.panelCovid{
    border: 3px solid rgb(0, 41, 128);
    color: rgb(49, 108, 135);
    background-color: rgb(231, 231, 231);
    margin: 2px;
    text-align: center;
    display: inline-block;
    justify-content: center;
}
.panelFlu{
    border: 3px solid rgb(0, 41, 128);
    color: rgb(49, 108, 135);
    background-color: rgb(231, 231, 231);
    margin: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.panelLED{
    display:inline-block;
    width:47.5vw;
    align-items:center;
}
.panelMap{
    border: 3px solid rgb(0, 41, 128);
    color: rgb(49, 108, 135);
    background-color: rgb(231, 231, 231);
    margin: 2px;
    text-align: center;
    width:96vw;
}
.panelInfo{
    border: 3px solid rgb(0, 41, 128);
    color: rgb(49, 108, 135);
    background-color: rgb(231, 231, 231);
    margin: 2px;
    text-align: center;
    justify-content: center;
    width:96vw;
}
.panelLabel{
    color: rgb(49, 108, 135);
}
