body {
    font-family: sans-serif;
    background-color: grey;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(0, 140, 255);
}
row{
    color: rgb(49, 108, 135);
    border: 2px solid rgba(0, 139, 139, 0.361);
}
.inputEvent{
    border: 2px solid green;
    color: rgb(50, 165, 123);
}
.panelCovid{
    border: 2px solid green;
    color: rgb(165, 50, 50);
    background-color: rgb(32, 32, 32);
    margin: 2px;
    text-align: center;
}